@import 'normalize.css';
@import 'H5BP.css';
body {
  width: 100%;
  *zoom: 1;
}
body:before,
body:after {
  content: "";
  display: table;
}
body:after {
  clear: both;
}
/*

  Base Grid

*/
/*

  Web Fonts

*/
.wf-loading h1,
.wf-loading h2,
.wf-loading h3,
.wf-loading .article a,
.wf-loading p,
.wf-loading time,
.wf-loading li,
.wf-loading li span,
.wf-loading footer,
.wf-loading abbr[title],
.wf-loading .caphappy {
  visibility: hidden;
}
.wf-active h1,
.wf-active h2,
.wf-active h3 {
  font-family: "prenton-display";
  font-weight: 100;
}
.wf-active .article a,
.wf-active p,
.wf-active time,
.wf-active li,
.wf-active li span,
.wf-active footer {
  font-family: "prenton";
}
.wf-active abbr[title],
.wf-active .caphappy {
  font-family: "ff-basic-gothic-sc-web-pro", sans-serif;
  font-weight: 200;
  text-transform: lowercase;
}
.wf-inactive h1,
.wf-inactive h2,
.wf-inactive h3,
.wf-inactive .article a,
.wf-inactive p,
.wf-inactive time,
.wf-inactive li,
.wf-inactive li span,
.wf-inactive footer,
.wf-inactive abbr[title],
.wf-inactive .caphappy {
  font-family: sans-serif;
}
.wf-inactive h1,
.wf-inactive h2,
.wf-inactive h3,
.wf-inactive .article a {
  font-weight: 100;
}
.wf-inactive p,
.wf-inactive time,
.wf-inactive li,
.wf-inactive li span,
.wf-inactive footer,
.wf-inactive abbr[title],
.wf-inactive .caphappy {
  font-size: 15px;
  line-height: 1.6em;
}
/*

  Size, Proportion & Positioning

  3 level structure
    window width, document width (centered), grid content

    body > header, body > header .center, body > header .grid
    etc.

*/
.center {
  width: 80%;
  margin: 0 auto;
}
.center,
.grid {
  *zoom: 1;
}
.center:before,
.grid:before,
.center:after,
.grid:after {
  content: "";
  display: table;
}
.center:after,
.grid:after {
  clear: both;
}
h1 {
  font-size: 32px;
  line-height: 1.15em;
}
header.home h1 {
  margin: 1.25em 0 0;
  line-height: 0.9em;
}
header.home h2 {
  margin: 0;
  line-height: 1.5em;
}
body > header h1.center {
  margin: 1em auto;
}
#intro {
  padding-top: 2em;
}
#content .grid {
  padding-bottom: 2em;
}
article.post h1 {
  margin-bottom: 0;
}
#profile {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  float: right;
  margin: 1.5em 0;
}
#metadata,
header.home h2 {
  display: block;
  font-size: 13px;
  margin-bottom: 3em;
}
#metadata iframe {
  float: right;
}
h2,
#writing h1,
#work h1 {
  font-size: 25px;
  line-height: 2em;
  margin: 0.75em 0 0;
}
h3 {
  font-size: 20px;
}
#writing article.summary {
  margin-bottom: 1em;
}
#writing article.summary h1 {
  font-size: 20px;
}
p {
  font-size: 16px;
  line-height: 1.5em;
  margin: 0;
}
p + p {
  text-indent: 1.4em;
}
figure,
iframe {
  margin: 1.5em 0;
  overflow-x: auto;
}
figure {
  text-align: center;
}
figure figcaption {
  font-style: italic;
  margin: 0.5em 0;
}
figure>pre,
figure noscript pre {
  text-align: left;
  overflow: auto;
  background-color: #f8f8ff;
  border: 1px solid #ddd;
  font-size: 0.85em;
  padding: 1em;
}
figure img {
  box-shadow: 2px 2px 5px #aaa, 0 0 5px #ddd;
}
code {
  color: #777;
  font-family: Consolas, 'Liberation Mono', Courier, monospace;
}
.gist {
  text-align: left;
}
.gist .gist-file .gist-data .data {
  font-size: 0.65em;
}
dl,
menu,
ol,
ul {
  padding-left: 0;
}
body > footer {
  padding: 3em 0 5em;
  text-align: center;
}
section.archive,
section.series {
  margin-top: 1em;
}
section.archive ol,
section.series ol {
  list-style: none;
  padding: 0;
}
section.archive ol.articles,
section.series ol.articles {
  list-style: disc;
}
section.archive time.publishDate,
section.series time.publishDate {
  font-size: 1em;
  display: none;
}
img {
  max-width: 400px;
}
iframe.playlist {
  display: block;
  margin: 1em auto;
  height: 250px;
  width: 250px;
}
@media screen and (min-width: 450px) {
  section.archive ol time.publishDate,
  section.series ol time.publishDate {
    display: inline;
    margin-right: 0.5em;
  }
  #writing article.summary {
    padding: 0 1.4em;
  }
}
@media screen and (min-width: 620px) {
  .center {
    width: 568px;
  }
  .grid {
    display: inline;
    float: left;
    overflow: hidden;
    width: 527px;
    margin: 0 6px;
    *width: 526.9479166666666px;
    *margin: 0 5.947916666666667px;
    padding-left: 24px;
    padding-right: 24px;
    overflow: visible;
  }
  h1,
  header.home h1 {
    font-size: 70px;
    margin-left: -6px;
  }
  #profile {
    height: 150px;
    width: 150px;
    margin: 3.2em 0;
  }
  #writing h1,
  #work h1,
  h2,
  body > header h1 {
    font-size: 35px;
  }
  #writing article.summary h1,
  header.home h2,
  h3 {
    font-size: 22px;
  }
  #metadata {
    font-size: 14px;
  }
  body,
  p {
    font-size: 18px;
  }
  time.publishDate {
    font-size: 14px;
  }
  .gist .gist-file .gist-data .data {
    font-size: 0.85em;
  }
  section.archive ol,
  section.series ol {
    display: block;
    width: 972px;
    margin: 0 -6px;
    *width: 971.9479166666666px;
    *margin: 0 -6.052083333333333px;
  }
  section.archive ol>li,
  section.series ol>li {
    display: block;
    width: 972px;
    margin: 0 -6px;
    *width: 971.9479166666666px;
    *margin: 0 -6.052083333333333px;
    float: left;
    clear: left;
  }
  section.archive ol .year,
  section.series ol .year {
    display: inline;
    float: left;
    overflow: hidden;
    width: 65px;
    margin: 0 6px;
    *width: 64.94791666666667px;
    *margin: 0 5.947916666666667px;
  }
  section.archive ol a,
  section.series ol a {
    display: block;
  }
  section.archive ol.articles,
  section.series ol.articles {
    margin-left: 83px;
    display: inline;
    float: left;
    overflow: hidden;
    width: 450px;
    margin: 0 6px;
    *width: 449.9479166666667px;
    *margin: 0 5.947916666666667px;
    list-style: none;
  }
  section.archive time.publishDate,
  section.series time.publishDate {
    display: inline;
    float: left;
    overflow: hidden;
    width: 142px;
    margin: 0 6px;
    *width: 141.94791666666666px;
    *margin: 0 5.947916666666667px;
  }
  img {
    max-width: 560px;
  }
  iframe.playlist {
    width: 500px;
  }
}
@media screen and (min-width: 800px) {
  .center {
    width: 770px;
  }
  .grid {
    display: inline;
    float: left;
    overflow: hidden;
    width: 604px;
    margin: 0 6px;
    *width: 603.9479166666666px;
    *margin: 0 5.947916666666667px;
    padding-left: 71px;
  }
  .wf-inactive p,
  .wf-inactive time,
  .wf-inactive li,
  .wf-inactive div,
  .wf-inactive li span {
    font-size: 17px;
  }
  section.archive ol,
  section.series ol {
    display: block;
    width: 972px;
    margin: 0 -6px;
    *width: 971.9479166666666px;
    *margin: 0 -6.052083333333333px;
  }
  section.archive ol>li,
  section.series ol>li {
    display: block;
    width: 972px;
    margin: 0 -6px;
    *width: 971.9479166666666px;
    *margin: 0 -6.052083333333333px;
  }
  section.archive ol .year,
  section.series ol .year {
    display: inline;
    float: left;
    overflow: hidden;
    width: 65px;
    margin: 0 6px;
    *width: 64.94791666666667px;
    *margin: 0 5.947916666666667px;
  }
  section.archive ol ol.articles,
  section.series ol ol.articles {
    margin-left: 83px;
    display: inline;
    float: left;
    overflow: hidden;
    width: 527px;
    margin: 0 6px;
    *width: 526.9479166666666px;
    *margin: 0 5.947916666666667px;
  }
  img {
    max-width: 740px;
  }
}
/*

  Styles

*/
h1,
h2,
h3,
.article a {
  color: #555;
  -moz-font-feature-settings: 'liga=1';
  -ms-font-feature-settings: 'liga' 1;
  -webkit-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
  text-rendering: optimizeLegibility;
}
h1 a,
h2 a,
h3 a,
.article a a,
h1 a:link,
h2 a:link,
h3 a:link,
.article a a:link,
h1 a:hover,
h2 a:hover,
h3 a:hover,
.article a a:hover,
h1 a:active,
h2 a:active,
h3 a:active,
.article a a:active {
  text-rendering: auto;
}
p,
time,
li,
div,
li span {
  font-style: normal;
  font-weight: 300;
  color: #464646;
  -moz-font-feature-settings: 'liga=1';
  -ms-font-feature-settings: 'liga' 1;
  -webkit-font-feature-settings: 'liga' 1;
  -o-font-feature-settings: 'liga' 1;
  font-feature-settings: 'liga' 1;
}
#author,
time.publishDate {
  font-style: italic;
}
a:link,
a:visited {
  color: #1e1ee1;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
a:link code,
a:visited code {
  color: #5050ff;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
a[href]:hover,
a[href]:hover code {
  color: #c81e1e;
}
a[href]:active,
a[href]:active code {
  color: #c86464;
}
ol,
ul {
  list-style-position: outside;
}
li,
blockquote:before,
.flueron {
  color: #787878;
}
header.home h2 {
  color: #6e6e6e;
}
abbr[title] {
  border: none;
  text-decoration: underline;
  font-style: normal;
}
body {
  background-color: #afafaf;
}
#content {
  background-color: #f5f5f5;
}
body > header {
  background-color: #ebebeb;
}
#content {
  box-shadow: 0 5px 15px #ccc inset;
}
.flueron {
  font-size: 1.5em;
  text-align: center;
  margin-top: 1em;
}
body > footer {
  box-shadow: 0 5px 15px #999 inset;
}
body > footer a,
body > footer a:link,
body > footer a:visited {
  color: #3c3ce6;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}
body > footer a:hover {
  color: #c81e1e;
}
body > footer a:active {
  color: #c86464;
}
blockquote p,
blockquote:before {
  font-style: italic;
}
blockquote {
  margin: 1.5em 0;
}
blockquote:before {
  content: "\201C";
  position: absolute;
  font-size: 2.5em;
  line-height: 0.5em;
  margin-left: -0.85em;
}
/* Custom Highlight.js Theme */
pre code .comment,
pre code .title {
  color: #9ba4ad;
}
pre code .variable,
pre code .attribute,
pre code .tag,
pre code .regexp,
pre code .xml .tag .title,
pre code .xml .pi,
pre code .xml .doctype,
pre code .html .doctype,
pre code .css .id,
pre code .css .class,
pre code .css .pseudo {
  color: #c66;
}
pre code .params,
pre code .constant {
  color: #595db3;
}
pre code .number,
pre code .preprocessor,
pre code .built_in,
pre code .literal {
  color: #f0964f;
}
pre code .class,
pre code .css .rules .attribute {
  color: #f0c674;
}
pre code .string,
pre code .value,
pre code .inheritance,
pre code .header,
pre code .xml .cdata {
  color: #be0822;
}
pre code .css .hexcolor {
  color: #8abeb7;
}
pre code .function,
pre code.javascript .title {
  color: #111920;
}
pre code .keyword,
pre code.javascript .function {
  color: #000863;
}
pre code.javascript .xml,
pre code .xml .javascript,
pre code .xml .css,
pre code .xml .cdata {
  opacity: 0.5;
}
